<h2>Add a new animal to our database:</h2>

<form action="/animals" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Name:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <label class="form-label" for='gender'>Gender:</label>
    <input class="form-control" id='gender' name='gender' type='text'>
    </br>
    <label class="form-label" for='type'>Type:</label>
    <input class="form-control" id='type' name='type' type='text'>
    </br>
    <label class="form-label" for='breed'>Breed:</label>
    <input class="form-control" id='breed' name='breed' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Animal!</button>
  </div>
</form>
