<h3>Animal Directory</h3>

<% if @animals.any?() %>
  <h4>Here are all the animals up for adoption:</h4>

  <ul>
    <% @animals.each() do |animals| %>
      <li><a href="/animals/<%= animal.id()%>"><%= animal.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

      <p>There are no animals yet!</p>

<% end %>

<div class="container">
  <a href="/">Return Home</a>
</div>
