<h2>Add a customer to our database:</h2>

<form action="/customers" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Name:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <label class="form-label" for='gender'>Animal Type Preference:</label>
    <input class="form-control" id='animal_type_pref' name='animal_type_pref' type='text'>
    </br>
    <label class="form-label" for='type'>Breed Type Preference:</label>
    <input class="form-control" id='breed_type_pref' name='breed_type_pref' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Customer!</button>
  </div>
</form>
