<h2>Welcome to Maggie's No Kill Animal Shelter</h2>

<h4>Select from the following menu options:</h4>
<div class="container">
  <ul>
    <li><a href="/animals">View All Animals</a></li>
    <li><a href="/customers">View All Customers</a></li>
    <li><a href="/animal/new">Add New Animal</a></li>
    <li><a href="/customer/new">Add New Customer</a></li>
  </ul>
</div>

<h4>View Animals Based On:</h4>
<div class="container">
  <ul>
    <li><a href="/animal/breed">Breed</a></li>
    <li><a href="/animal/type">Type</a></li>
    <li><a href="/animal/name">Name</a></li>
    <li><a href="/animal/admitdate">Date Admitted</a></li>
  </ul>
</div>
